@import url('https://fonts.googleapis.com/css2? family= Akaya+Kanadaka & family= Poppins:wght@300;400;500;600;700;800;900 & display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
:root {
    --bg-color:rgb(201, 190, 181);
    --second-bg-color:#a37736;
    --text-color:#0b0b0b;
    --main-color:#e06812;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
}
section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 9%;
    background: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
nav a:hover{
    color: #24C6FB;
    border-bottom: solid #24C6FB;
}
.active{
    color: #24C6FB;
    border-bottom: solid #24C6FB;
}
.logo{
    width: 17rem;
    height: auto;
    border-radius: 10%;
}
.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.home {
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
strong{
    color: #24C6FB;
}
#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home-img img,
.about-img img {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    animation: floatImage 4s ease-in-out infinite;
}
@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}
.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}
.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}
span {
    color: var(--main-color);
}
.home-content h1{
    font-size: 4.6rem;
    font-weight: 700;
    line-height: 1.3;
    /* padding-bottom: 10%; */
    font-family: poppins ;

}
.home-content p{
    font-size: 2.5rem;
    font-family: poppins ;
}
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: transparent;
    border: .2rem solid var(--main-color);
    font-size: 2rem;
    color:#24C6FB;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;

}
.social-media a:hover {
    background: var(--main-color);
    color:var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}
.footer-text p {
    font-size: 1.6rem;
}
.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}
.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}
.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}
/* About */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: #e4c08b;
}
.about-img img{
    width: 30vw;
    text-align: center;
    font-size: 4.5rem;
}
.about-content h2{
    text-align: left;
    line-height: 1.2;
}
.about-content h3{
    font-size: 2.6rem;
    }
.about-content p{
    font-size: 2.5rem;
    margin: 2rem 0 3rem;
    font-family: poppins ;

} 
/* section projet */
.heading {
    text-align: center;
    font-size: 4.5rem;
    margin: 2rem;
}
.projets{
    background-color: #e4c08b;
}

h1{
    font-size: 5rem;
    text-align: center;
    margin: 2rem;
    display: flex;
}
.pro img{
    width: 400px;
    height: 300px;
    /* display: flex; */
    /* margin: 50px; */
    /* justify-content: space-around; */
    /* align-items: flex-start; */
    /* flex-direction: row; */
   
}   
.pro h2{
    margin-top: 20px;
}
.portfolio {
    background: var(--second-bg-color);
}
.portfolio h2{
    margin-bottom: 4rem;
}
.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}
.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}
.portfolio-box img{
    width: 100%;
    transition: .5s ease;
}
.portfolio-box:hover img {
    transform: scale(1.1);
}
.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}
.portfolio-layer h4{
    font-size: 3rem;
    /* color: var(--text-color); */
}
.portfolio-layer p{
    font-size: 1.6rem;
    /* color: var(--text-color); */
    margin: .3rem 0 1rem;
}
.portfolio-layer a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}
.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}
.portfolio h2{
    margin-bottom: 3rem;
}

/* partie skills */
#skills {
    width: 100%;
    height: auto;
    padding: 80px 13%;

}
.skill-head {
    margin-top: 70px;
    width: 100%;
    font-size: 2rem;
    margin-bottom: 70px;
    display: grid;
    place-items: center;
    text-align: center;
    
}
.skill-head h2{
    margin-bottom: 5px;
}
.skill-head h2 span {
    color: var(--main-color);
}
.skill-main {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap:50px;
    grid-row-gap:20px;
}
.skill-bar{
    background-color: var(--second-bg-color);
    border-radius: 5px;
}
.info img {
    margin-top: 5px;
    width: 3rem;
    height: 3rem;
}

.skill-main  .skill-bar .info {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    font-size: 2rem;
}
.skill-bar .info .percent {
    font-weight: bold;
}
.skill-bar .bar {
    width: 100%;
    height: 2rem;
    position: relative;
    background-color: rgba(0,0,0,0.199);
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.skill-bar .bar span {
    width: 50%;
    height: 100%;
    position:absolute ;
    background-color: #e74d06;
    border-radius: 25px;
}
.skill-bar .bar .html-css{
    width: 75%;
    animation:html-css 3s 2;
}


@keyframes html-css {
    0%{
        width: 0;
    }
    100%{
        width: 75%;
    }
}
.skill-bar .bar .js{
    width: 30%;
    animation:js 3s 2;
}
@keyframes js {
    0%{
        width: 0;
    }
    100%{
        width: 30%;
    }
}

.skill-bar .bar .php{
    width: 10%;
    animation:php 3s 2;
}
@keyframes php {
    0%{
        width: 0;
    }
    100%{
        width: 10%;
    }
}
.skill-bar .bar .angular{
    width: 15%;
    animation:angular 3s 2;
}
@keyframes angular {
    0%{
        width: 0;
    }
    100%{
        width: 15%;
    }
}
.skill-bar .bar .sql{
    width: 10%;
    animation:sql 3s 2;
}
@keyframes sql {
    0%{
        width: 0;
    }
    100%{
        width: 10%;
    }
}
.skill-bar .bar .docker{
    width: 15%;
    animation:docker 3s 2;
}
@keyframes docker {
    0%{
        width: 0;
    }
    100%{
        width: 15%;
    }
}
.skill-bar .bar .figma{
    width: 40%;
    animation:figma 3s 2;
}
@keyframes figma {
    0%{
        width: 0;
    }
    100%{
        width: 40%;
    }
}
.skill-bar .bar .git{
    width: 50%;
    animation:git 3s 2;
}
@keyframes git {
    0%{
        width: 0;
    }
    100%{
        width: 50%;
    }
}

.logo-skill img{
    width: 5rem;
    height: rem;
}
/* partie contact */
.contact h2{
    margin-bottom: 3rem;
}
.contact form {
   
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: 0.7rem 0;
}
.contact form .input-box input {
    width: 49%;
}
.contact form textarea {
    resize: none;
}
.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}
.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}
.btn:hover{
    box-shadow: none;
}
.contact{
    background-color: #e4c08b;

}

/* BREAKPOINTS */
@media (max-width:1200px) {
    html {
        font-size: 55%;
    }
}
@media(max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3% 2rem;
    }
    .services {
        padding-bottom: 7rem;
    }
    .portfolio {
        padding-bottom: 7rem;
    }
    .contact {
        min-height: auto;
    }
    .footer {
        padding: 2rem 3%;
    }
}
@media (max-width:768px) {
    #menu-icon {
        display: block;
    }
    /* .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
        display: none;
    } */
    .navbar.active {
        display: block;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home {
        flex-direction: column;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home-img img {
        width: 70vw;
        height: 70vw;
        margin-top: 4rem;
    }
    .about {
        flex-direction: column-reverse;
    }
    .about img {
        width: 70vw;
        height: 70vw;
        margin-top: 4rem;
    }
    .services h2{
        margin-bottom: 3rem;
    }
    .portfolio h2{
        margin-bottom: 3rem;
    }
    .portfolio-container {
        grid-template-columns: repeat(2,1fr);
    }

}
@media (max-width:617px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }
}
@media (max-width:450px) {
    html{
        font-size: 50%;
    }
    .contact form .input-box input {
        width: 100%;
    }
}
@media (max-width:365px) {
    .home-img img{
        width: 90vw;
    }
}